*{box-sizing: border-box; margin: 0px; padding: 0px;}

/* dichiarazione font */
@font-face {
    font-family: 'logo';
    src: url('font/typeecon.otf') format('truetype');;
 }

 @font-face {
    font-family: 'edensor';
    src: url('font/Edensor-Free.otf') format('truetype');;
 }

 @font-face {
   font-family: 'DMsans';
   src: url('font/DMSans.ttf') format('truetype');;
}
/* body e html */
html,body{height: 100%;}
a{color: #333; text-decoration: none;}

body{
   background-color: #eee;
   color: #333;
   font-family: DMsans;
}
body {padding-top: 110px;}


/* HEADER */

header{
   position: fixed; 
   width: 100%; 
   background: #eee; 
   height: 110px;; 
   top: 0; 
   box-shadow: 0px 0px 8px -3px #000000;
   z-index: 30;
}


.header__grid{display: flex; flex-wrap: wrap; width: 110%;}
.header__grid__item{width: 30%; padding: 10px; text-align: center;}
.header__item__social{font-family: logo; font-size: 30px; text-align: left;}
#header__logo{font-size:60px; font-family: edensor; padding-bottom: 0px;}

.nav{text-align: center;}
.nav__list__item{display: inline-block; margin-left: 5px;margin-right: 5px;}
.nav__list__item a{color: #333;/*display: block;*/ font-size: 15px;} 
 .nav__list__item a:hover{background-color: #d3e8e0; /*display:block;*/} 
 /* video index */
 .video-index{
   width: 100%;
   height: 100vh;
   position: fixed;
   margin-top: 0;
   object-fit: cover;
   /* opacity: 0.6; */
   box-shadow: #000;
   z-index: 0;
}
.section-video{
   position: relative;
   z-index: 2;
   width: 100%;
   height: 100vh;
}
.section-video__text{
   color: #fff;
   text-align: center;
   width: 100%;
   height:100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   transform: scale(1);
   transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
   opacity: 1;
   transition-duration: 1s;
}

.index-panel{
   width: 100%;
   height: 100vh;
   z-index:10;
   background:#eee;
   position: relative;
}

/* immagine principale index */
.main__img{width: 100%; margin: 0px; box-shadow: 0px 0px 8px -3px #000000;opacity: 1;}
.container{padding: 15px; max-width: 500px; margin: 0 auto;}

/* MAIN  INDEX*/

.main__grid{
   flex-wrap: wrap; 
   display: flex; 
   width: 100%; 
   padding-top: 30px; 
   padding-bottom: 30px;
   padding-left: 120px; 
   padding-right: 120px;  
}

.main__grid__item{text-align: center;}
div.main__grid__item.item50{padding-right: 30px; padding-left: 30px;}

.intestazione{font-size: 40px; text-align: center; margin: auto;}
.sottotitolo{font-size: 20px; padding-top: 30px; text-align: center;}
.link{
   font-size: 25px; 
   color: #333;
   padding-top: 30px;
   padding-left: 20px;
   padding-right: 50px;
   transition-property: color;
   transition-duration: 1s;
}

.link a{
   border: 1px solid #333;
   padding: 3px 15px;
   transition-property: background-color;
   transition-duration: 1s;

}

.link a:hover{
   background: #333;
   color: #eee;
}

/* slider index */

.main__slider{
   flex-wrap: wrap; 
   display: flex; 
   width: 100%;
   padding-top: 80px;
   padding-left: 120px;
   padding-right: 120px;
   background: #e7e7e7;
}

#main__slider__sottotitolo{font-size: 20px; margin-top: 30px; text-align: center; padding-left: 200px; padding-right: 200px; padding-bottom: 30px;}
.main__grid__item.item33{margin: 30px; padding: 30px; box-shadow: 0px 0px 8px -3px #000000}
.main__grid__item.item50{margin-top: 50px;}
.item{box-shadow: 5px 5px 11px -6px #000000;}



/* footer */
footer{margin-top: 0px;}
.footer__grid{display: flex; flex-wrap: wrap; padding: 20px 200px 100px; background-color: #333;}
.footer__intestazione{font-size: 40px; color: #ddd;margin:50px 0px 10px 0px;}
.footer__sottotitolo{font-size: 20px; margin: 10px 10px ; color: #ddd;margin-right: 30px; margin-top: 0px;}
.footer__social{font-family: logo; font-size: 20px; text-align: left; color: #ddd;}
.footer__social a{color: #eee; padding: 0px 10px;}
.footer_grid_grid{display: flex; flex-wrap: wrap; padding: 100px 50px 0px 50px; background-color: #333;}
/* footer da controllare */
footer{padding:10px;background-color: #333; }
footer p{text-align: center; padding: 20px; color: #eee;}

/* MEDIA QUERY */


@media (max-width:998px){
   /* INDEX */
   /* main */
   .item50{width:100%;}
   .main__grid{padding: 10px;}
   .intestazione{margin-top: 40px;}
   .link{margin: 10px;}
   .main__slider{padding: 20px;}
   #main_slider_sottotitolo{padding: 20px;}
   .main__img{margin-top: 20px; }
   .header__item__social{visibility: hidden;}
   .main__grid__item{width: 50%;}
   /* footer */
   .footer_grid_grid{display: flex; flex-wrap: wrap; padding: 30px 0px; background-color: #333;}

}
@media (max-width:767px) {
   /* INDEX */
   /* header */
   .header_item_social{display: none;}
   /* main */
   .item50 {width:100%;}
   .item45{width: 100%;}
   .item33{width: 100%;}

   .main__grid{padding: 10px;}
   .main__grid__item{width: 100%;}
   .main__link{margin: 10px; margin-bottom: 20px;}
   .main_grid_slider{padding: 20px;}
   div.main_slider_sottotitolo{padding: 20px; margin-top: 0px;}
   .main_grid_item.item50{margin: 0px;}
   #main__slider__sottotitolo{
      font-size: 20px; 
      margin-top: 0px; 
      text-align: center; 
      padding: 30px 20px;
   }
   .link{margin-top: 40px;}
   .header__item__social{visibility: hidden;}

   /* footer */
   .footer_grid_item.item50{width: 100%;}
   .footer__grid{display: flex; flex-wrap: wrap; padding: 10px 50px; background-color: #333;}
   .footer_grid_grid{display: flex; flex-wrap: wrap; padding: 30px 0px; background-color: #333;}

}


.clearfix {
   overflow: auto;
 }
 /* helpers */
.margin{margin: 15px;}
.position{position: relative;}
.align-center{text-align: center;}
.height70{height: 70%;}
.z-index{z-index: 10; background: #eee;}

.item50{width:50%;}
.item33{width: 28%;}
.item45{width: 45%;}
.item10{width: 10%;}
.item90{width: 90%;}