*{box-sizing: border-box; margin: 0px; padding: 0px;}
html,body{height: 100%;}
a{color: #333; text-decoration: none;}
.margin{margin: 15px;}
.position{position: relative;}
.align-center{text-align: center;}
.height70{height: 70%;}


/* dichiarazione font */
@font-face {
    font-family: 'logo';
    src: url('font/typeecon.otf') format('truetype');;
 }

 @font-face {
    font-family: 'edensor';
    src: url('font/Edensor-Free.otf') format('truetype');;
 }

 /* @font-face { 
    font-family: 'manrope';
    src: url('font/Manrope-Regular.ttf') format('truetype');;
 } */

 @font-face {
   font-family: 'DMsans';
   src: url('font/DMSans.ttf') format('truetype');;
}



 body{
   background-color: #eee;
   color: #333;
   font-family: DMsans;
}
body {padding-top: 110px;}


/* HEADER */

header{
   position: fixed; 
   width: 100%; 
   background: #eee; 
   height: 110px; 
   top: 0; 
   box-shadow: #555555 0px 5px 10px;
}


.header__grid{display: flex; flex-wrap: wrap; width: 110%;}
.header__grid__item{width: 30%; padding: 10px; text-align: center;}
.header__item__social{font-family: logo; font-size: 30px; text-align: left;}
#header__logo{font-size:60px; font-family: edensor; padding-bottom: 0px;}

#header__navigazione{text-align: center;}
#header__navigazione li{display: inline; padding: 20px;}
#header__navigazione li a{color: #333; font-size: 15px; font-family: edensor; letter-spacing: 1.5px;}
#header__navigazione li a:hover{background-color: #d3e8e0;}
#titolo{font-size:60px; font-family: edensor; padding-bottom: 0px;}

.img__copertina{width: 100%; margin: 0px;}



/* MAIN */



.main__grid{
   flex-wrap: wrap; 
   display: flex; 
   width: 100%; 
   padding-top: 30px; 
   padding-bottom: 30px;
   padding-left: 120px; 
   padding-right: 120px; 
   margin-top: 70px; 
   background: #d0d0d0;

}
.main__grid__item{text-align: center;}
.item50{width:50%;}
.item33{width: 28%;}
div.main__grid__item.item50{padding-right: 30px; padding-left: 30px;}

.main__intestazione{font-size: 40px;margin-top: 70px;}
.main__sottotitolo{font-size: 20px; margin-top: 30px;}
.main__link{
   font-size: 25px; 
   text-decoration: underline; 
   color: #1b3c57;
   font-style: italic;
   margin-top: 30px;
   margin-left: 20px;
   margin-right: 50px;
}

.main__immagine{width: 100%;}


.main__grid__slider{
   flex-wrap: wrap; 
   display: flex; 
   width: 100%;
   padding-top: 80px;
   padding-left: 120px;
   padding-right: 120px;
}

div.main__slider__intestazione{font-size: 40px; text-align: center; margin: auto;}
div.main__slider__sottotitolo{font-size: 20px; margin-top: 30px; text-align: center; padding-left: 200px; padding-right: 200px; padding-bottom: 30px;}
.main__grid__item.item33{margin: 30px; padding: 30px; box-shadow: #4f4f4f 0px 0px 20px;}








/* il codice che segue è relativo alla pagina portfolio.html. cerco un modo per rendere piu pulito il codice  */
/* le classi usate per il flexbox sono le stesse utilizzate per la pagina index.html */





/* PORTFOLIO */
/* main */
.main__grid__item__cover{
   position:absolute;
   bottom:0px;
   left:0px;
   color: #fff;
}
/* .main__grid__item__cover{ background-image:url("https://source.unsplash.com/category/nature"); */
   background-size: cover;
   background-position: center;
}
.main__grid__item__filter{
   background: #000;
   position: absolute;
   z-index:0;
   opacity:0.5;
   height: 250px;
   width: 250px;
   padding: 10px;
}
.main__grid__item__dimensionefoto{
   
   width: 33%;
   /* height: 400px; */
   /* width: 400px; */
 
   /* margin: 25px; */
}
.main__grid__item__caption{
   display:table;
   width:100%;
   height:100%;
   position:relative;
   z-index:1;
}
.main__grid__item__caption__copy{
   display:table-cell;
   vertical-align: middle;
   text-align:center;
   color: #fff;
}

.footer{
   padding:10px;
   margin-top:15px ;
   background-color: #333;
   
   
}
.footer__p{color: #eee;}


/* helpers */

/*  Pagine interne portfolio__foto */
/* main pagine interne portfolio__foto */
/* pagina sulle foto della città */
.main__image__città{
   background-image:url("https://source.unsplash.com/category/buildings");
   background-size: cover;
   background-position: center center;
   position:relative;
}
.main__image__filter{
   background: #000;
   height: 100%;
   width: 100%;
   position:absolute;
   z-index: 0;     /* sotto il testo o sopra il testo */
   opacity:0.5;
}
.main__image__caption{
   display: table;
   padding:5px;
   height: 100%;
   width: 100%;
   z-index: 1;
}
.main__image__caption__copy{
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   color: #fff;
}

.main__image__caption__copy__link{ background:#fff ; padding:15px 30px;}
/* cards */
.cards{max-width: 1200px; margin:40px auto;}
.card{ width: 30%;margin:0 1.5%;float:left;}
.card__image{width: 100%; height:auto;}
.card__copy{padding: 5px 20px; background-color: #fff; margin-bottom: 5px;}
.card__copy h3{ text-align: center; margin:5px;}
/* media query */
@media (max-width:998px){

   /* section cards */
   .card{width: 40%;margin: 3%;}
}
@media (max-width:767px) {
   /* main immagine delle pagine interne portfolio__foto*/
   /* main */
   .main__image__people
   .main__image__nature
   .main__image__città{height: 100%;}
   /* section, cards */
   .card{width: 85%; margin: 3%;}
   
}

.clearfix {
   overflow: auto;
 }