*{box-sizing: border-box; margin: 0px; padding: 0px;}

/* dichiarazione font */
@font-face {
    font-family: 'logo';
    src: url('font/typeecon.otf') format('truetype');;
 }

 @font-face {
    font-family: 'edensor';
    src: url('font/Edensor-Free.otf') format('truetype');;
 }

 @font-face {
    font-family: 'manrope';
    src: url('font/Manrope-Regular.ttf') format('truetype');;
 }

 body{
   background-color: #ddd;
   color: #333;
   font-family: manrope;
}

main{margin-left: 30px;}


.container{display: flex; flex-wrap: wrap;}
.item{width: 33.3%; padding: 10px; text-align: center;}
.logo{font-family: logo; size: 10px;}
#titolo{font-size:50px; font-family: edensor;}

#navigazione{text-align: center;}
#navigazione li{display: inline;padding: 10px;}
a{color: #333; text-decoration: none;}
